body{
	background-image: url(BG\ 2.jpg);
	background-repeat: none;
	background-size: cover;
}

a{
	color: #ffffff;
	font-family: impact;
	word-spacing:40px;	
	letter-spacing: 8px;
	text-decoration: none;
}


	